@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');
* {
    margin: 0px;
    box-sizing: border-box;

}
img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6 {
    color: #121212;
    font-family: 'Inter', sans-serif;
}
p {
    font-family: 'Poppins', sans-serif;  
    color: #707070;
}
.container {
    max-width: 1125px;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
/* Hero area */
#header {
    background-color: #FAFAFA;
    background: url(../img/donate_shape.png) no-repeat;
    background-size: 34%;
    background-position: 80% bottom;
    margin-top: 62px;
}
.hero_area {
    display: flex;
    align-items: center;
}
.hero_text h1 {
    font-size: 65px;
    font-weight: 700;
    line-height: 78.66px;
    width: 75%;
}
.hero_text p {
    font-size: 18px;
    line-height: 28px;
    max-width: 74%;
    margin: 24px 0px;
}

.btn {
    background-color: #FF5959;
    display: inline-block;
    padding: 16px 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    border: none;
}
.btn_outline {
    display: inline-block;
    padding: 16px 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: #707070;
    border: none;
    background: none;
}
/* Donate */
.common_text h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 54.46px;
}
.common_text p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    max-width: 732px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
/* Amount */
.amount {
    display: flex;
    justify-content: center;
    gap: 22px;
}
.amount div strong {
    font-size: 30px;
    font-weight: 700;   
    font-family: 'Inter', sans-serif;
    color: #707070;
}

.amount div {
    background: #FAFAFA;
    padding: 32px 13px;
    border-radius: 10px;
}
section#donate {
    margin-top: 130px;
    margin-bottom: 60px;
}
.select {
    border: 1px solid #FF5959;
    background:#FFEEEE !important ;
}
.select strong {
    color: #FF5959;
}
.amount_box span {
    font-size: 18px;
    font-family: 'Poppins';
    color: #B3B3B3;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 12px;
}
.amount_box hr {
    border: none;
    background: #DADADA;
    height: 1px;
    width: 50%;
    /* text-align: center; */
    margin: auto;
    /* display: inline-block; */
}
.amount_box button {
    margin-top: 32px;
}
.amount_box {
    margin-top: 57px;
}
/* plan */
#plan {
    margin-bottom: 130px;
}
.inner_plan {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.item h4 { 
    font-size: 24px;
    font-weight: 600;
}
.item p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}
.item i {
    font-size: 56px;
    display: inline-block;
    margin-bottom: 30px;
}
.item {
    padding: 27px 34px;
    border-radius: 5px;
}
.item_one {
    background: #4F9DA61A;
}
.item_two {
    background:rgba(255, 89, 89, 0.1);;
}
.item_three {
    background: #fff4d6;
}
/* Random */
.inner_random {
    display: flex;
   align-items: center;
   justify-content: space-between;
}
.random_text h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 20px;
}
.random_text p {
    font-size: 18px;
    max-width: 482px;
}
p.spcl {
    margin-top: 20px;
    margin-bottom: 30px;
}
section#randoma {
    margin-top: 100px;
}
/* Form */
.form_area {
   display:flex;
   justify-content: center;
   background:#ff59591e;
   padding: 84px 0px;
   margin-bottom: 87px;
}
.form_area input {
    border: none;
    font-size: 18px;
    padding: 11px 12px;
    border-radius: 8px;
}
.form_area input[type="submit"] {
    background: #FF5959;
    color: white;
    display: inline-block;
    transform: translateX(-23px);
}
/* Footer */
#footer {
    background: black;
    text-align: center;
    padding: 30px 0px;
}
#footer h2 {
    color: #FF5959;
    font-size: 51px;
    margin-bottom: 9px;
    font-weight: bolder;
}#footer strong {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 21px;
    font-weight: bold;
}